<div>
  <h1 mat-dialog-title>树型选择器</h1>
  <div mat-dialog-content style="height: 300px;width: 400px;z-index: 80;">
    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node
        [ngClass]="{ 'tree-node-selected': selectData.item.id === node.item.id }"
        class="tree-node"
        (click)="selectNode(node)"
        [matTreeNodePaddingIndent]="30"
        *matTreeNodeDef="let node"
        matTreeNodePadding
      >
        <button mat-icon-button disabled></button>
        <i class="material-icons">
          description
        </i>
        &nbsp;{{ node.item.name }}
      </mat-tree-node>
      <mat-tree-node
        [ngClass]="{ 'tree-node-selected': selectData.item.id === node.item.id }"
        class="tree-node"
        (click)="selectNode(node)"
        [matTreeNodePaddingIndent]="30"
        style="padding-left: 30px;"
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle [matTreeNodeToggleRecursive]="false">
          <i class="material-icons">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </i>
          <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>
        </button>
        <i class="material-icons at-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "folder_open" : "folder" }}
        </i>
        &nbsp; {{ node.item.name }}
        <ul [hidden]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div mat-dialog-actions style="z-index: 100;">
    <button mat-raised-button color="primary" (click)="confirm()" color="primary">确认</button>&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button (click)="cancel()">取消</button>
  </div>
</div>
